<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Preference Study</title>
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wel.css') }}">
</head>
<body>

    <div class="container">
        <h1 class="h1-centered"> Thanks!</h1>
    </div>
        <p class="p-style">Your results have been submitted.</p>
        <p class="p-style">Thank you again for your participation!</p>
</body>
</html>
